{% extends "admin.html" %}

{% block title %}
    Admin reviewing jobs
{% endblock %}

{% block main %}
<style>
    .card {
      border: none;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-bottom: 25px;
      background-color: rgba(139, 110, 75, 0.75);
      color: white;
      border-radius: 0;
      overflow: hidden;
      transition: transform 0.2s, box-shadow 0.3s;
  }
  
  .card:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  }
  
  .card-header {
      color: white;
      padding: 15px;
      border-bottom: none;
  }
  
  .card-header h2 {
      margin: 0;
      font-size: 1.5rem;
      color: white;
  }
  .job {
    padding: 20px;
    color: white;
  }
  
  .job p {
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 1.5;
  }
  .btn-primary {
    background-color: #000;
    border-color: #000;
    color: white;
    
  }
  
  .btn-primary:hover {
    background-color: #555 !important;
    border-color: #555 !important;
  }
  
  .btn-secondary {
    background-color: #666 !important;
    border-color: #666 !important;
  }
</style>
<div class = "custom-welcome">
    <h2>Review Pending Jobs</h2>
</div>
{% if portfolio%}
{% for job in portfolio %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">{{ job.company }}</h2>
            </div>
            <form action="/reviewJobs" method="post">
                <div class="job">
                    <p><strong>Added By:</strong> {{ job.adder }}</p>
                    <p><strong>Role:</strong> {{ job.company_role }}</p>
                    <p><strong>Description:</strong> {{ job.Description }}</p>
                    <p><strong>Pay:</strong> {{ job.pay }}</p>
                </div>
                <div class="d-grid gap-2 d-md-block">
                    <button type="submit" class="btn btn-primary mx-2 my-1" name="action" value="approve_{{ job.id }}">Approve</button>
                    <button type="submit" class="btn btn-secondary" name="action" value="decline_{{ job.id }}">Decline</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endfor %}
{% else %}
<div class = "d-flex justify-content-center align-items-center" style="height: 25vh;">
    <h2> There are no current jobs to be reviewed, check back another time </h2>
</div>
{% endif %}


{% endblock %}