{% extends "employer.html" %}

{% block title %}
    Employer Home
{% endblock %}

{% block main %}
<style>
    .post h4 {
        font-weight: 600;
        margin-bottom: 0.5rem;
        line-height: 1.4;
    }

    .job-info {
        margin-bottom: 0.5rem;
    }

    /* Responsive adjustments */
    @media (max-width: 768px) {
        /* Adjust the container width and margins */
        .custom-welcome h1 {
            font-size: 1.8rem; /* Adjust font size for smaller screens */
        }

        .post-card, .job-card {
            margin-left: 0;
            margin-right: 0;
        }

        /* Ensure the credits section behaves properly on small screens */
        .credits {
            padding: 2rem 1rem; /* Add some padding for small screens */
        }

        .credits .d-flex {
            flex-direction: column;
            text-align: center;
        }

        /* Reduce margins in the main content for smaller screens */
        .container, .row {
            margin-left: 0;
            margin-right: 0;
        }

        /* Fix the overflow issue for smaller screens */
        .container-fluid, .container {
            padding-left: 0;
            padding-right: 0;
        }

        /* Stack the posts and portfolio sections vertically on small screens */
        .col-12 {
            width: 100%;
        }

        /* Make sure the footer credits fit on the screen */
        .credits img {
            max-width: 100%;
            height: auto;
        }
    }
    .credits img {
        max-height: 20%;
        width: auto;
        margin: 0 auto;
    }
    .post-section {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-right: 5rem;
    }
    
</style>

<div class="custom-welcome">
    <div class="container">
        <h2>Welcome to YourFuture {{ name }}!</h2>
    </div>
</div>

<div class="container-fluid px-0 mb-2">
    <div class="container">
        <div class="row">
            <!-- Posts Section (on the left) -->
            <div class="col-12 col-md-8 col-lg-8 post-section">
                {% for post in posts %}
                <div class="card post-card">
                    <div class="post">
                        <p class="text-light">Posted by: {{ post.added_by }}</p>
                        <h4>{{ post.content }}</h4>
                    </div>
                </div>
                {% endfor %}
                <a class="p-5 justify-content-center" href='/eViewPosts'> See All Posts</a>
            </div>

            <!-- Portfolio Section (on the right) -->
            <div class="col-12 col-md-4 col-lg-3 ">
                {% for job in portfolio %}
                <div class="card job-card">
                    <div class="post">
                        <h4 class="job-info">{{ job.company }}</h4>
                        <p class="job-info">Role: {{ job.company_role }}</p>
                        <p class="job-info">Salary: {{ job.pay }}</p>
                    </div>
                </div>
                {% endfor %}

                <a class="p-5 justify-content-center" href='/myjobs'> View Your Postings</a>
                <div class="m-5">
                    <div class="card bg-white text-black w-100 p-3">
                        <h4 class="fs-2">Want to know if your postings have interest?</h4>
                        <a class="justify-content-center" href='/applications'> See Applications</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="credits d-flex">
        <div class="d-flex col-lg-4">
            <img src="../static/logo.png" alt="YourFuture" style="max-height: 20%; width: auto;">
        </div>

        <div class="d-flex justify-content-start">
            <div class="d-flex fs-6">
                <a href="/credits" class="text-black me-5">Credits</a>
                <div class="me-5">YourFuture 2025</div>
                <div class="me-5">YourFuture@socialmedia.com</div>
                <div class="me-5">YourFuture@example.com</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}