{% extends "employer.html" %}

{% block title %}
    Employer Home
{% endblock %}

{% block main %}
<div class = "custom-welcome">
    <h1>Welcome to YourFuture {{ name }}!</h1>
<div>
<div class = "logo">
    <img src = "../static/logo.png" alt = "YourFuture">
</div>
<div class = "future">
    <h3> Welcome to YourFuture! We're excited to have you here as an employer seeking talented
         and motivated students to join your team. YourFuture makes it easy to connect with the next generation of professionals, whether you're looking for interns, part-time employees, or full-time hires. Our platform allows you to post job opportunities, review applications, and find the perfect match for your company's needs. Join us in shaping the future of work
         by offering students valuable career experiences and helping them kickstart their professional journeys. Let's build a thriving community of opportunity together!
    </h3>
</div>
<div class = "card card-transparent">
    <div class = "card-header">
        <h2>Connection<h2>
    </div>
    <div class = "card-body">
        We connect students to employers and more importantly to their future.
    </div>
</div>
<div class = "images">
    <img src = "..\static\handshake-removebg-preview.png" alt = "connection">
</div>
<div class = "card card-transparent">
    <div class = "card-header">
        <h2>Opportunity<h2>
    </div>
    <div class = "card-body">
        We give student the opportunites they need to grow and evolve.
    </div>
</div>
<div class = "images">
    <img src = "..\static\growth-removebg-preview.png" alt = "oppurtunity">
</div>
<div class = "card card-transparent">
    <div class = "card-header">
        <h2>Learning<h2>
    </div>
    <div class = "card-body">
        We provide invaluable knowledge to students about what their future can be, teaching them life skills to conquer their goals.
    </div>
</div>
<div class = "images">
    <img src = "..\static\book-removebg-preview.png" alt = "learning">
</div>


        

<div class = "credits">
    <a href="/credits">Credits</a>
    </a>
{% endblock %}