{% extends "employer.html" %}

{% block title %}
    Posts
{% endblock %}

{% block main %}

<div class="custom-welcome">
    <div class="container">
        <h1 class = "fw-bold">See All Posts</h1>
    </div>
</div>
<div class="container-fluid px-0 mb-2">
    
    
    <div class="container">
        <div class="row">
            <div class="justfiy-content-center">
                {% for post in posts %}
                <div class="card post-card ">
                    <div class="post">
                        <p class="text-light">Posted by: {{ post.added_by }}</p>
                        <p class = "fs-4 text-white">{{ post.content }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
    
    
   

{% endblock %}