{% extends "employer.html" %}
{% block title %}
student_profile
{% endblock %}
{% block main %}

<img class="profile-img" src="../static/allan-cole-N6-52vtceNA-unsplash.jpg">
<div class="header-profile">
    {% if profile['name'] %}
        <h2>{{ profile['name'] }}</h2>
    {% else %}
        <h2>Student Profile</h2>
    {% endif %}
</div>

<div class = "align-items-center ">
    <div class="form-container">
        
            <label for="name" class="fs-6">Full Name</label>
            <div name = "name" class="form-control rounded-0"> {{ profile['name'] }} </div>
        
            <label for="email" class="fs-6">Email Address</label>
            <div name="email" class="form-control rounded-0">{{ profile['email'] }}</div>
        
            <label for="bio" class="fs-3 mt-5">Bio</label>
            <div name="bio" class="form-control mb-5 rounded-0">{{ profile['bio'] }}</div>
    </div>
    <div class="form-container">
            <h4 class='fs-3 mt-4'>Skills</h4>
            <div class="rounded-0">
                
                <div id="skills-list">
                    {% if profile['skills'] %}
                        {% for skill in profile['skills'].split(',') %}
                            <div class="skill-item m-3 text-black">{{ skill }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                
            </div>
    </div>
    <div class = "form-container mb-3">
            <h4 class="fs-3 mt-4">Additional Information</h4>
            <div class="rounded-0">
                <div id="additional-info-list">
                    {% if profile['info'] %}
                        {% for info_item in profile['info'].split(',') %}
                            <div class="info-item m-3 text-black">{{ info_item }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        
    </div>
</div>

    

    
{% endblock %}