{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<div class="custom-welcome">
    <div class="container">
        <h1>Welcome to YourFuture {{ name }}!</h1>
    </div>
</div>

<div class="container-fluid px-0 mb-2">
    <div class="container">
        <div class="row">
            <!-- Posts Section (on the left) -->
            <div class="col-12 col-md-8 col-lg-8 post-section">
                {% for post in posts %}
                <div class="card post-card">
                    <div class="post">
                        <p class="text-light">Posted by: {{ post.added_by }}</p>
                        <h4>{{ post.content }}</h4>
                    </div>
                </div>
                {% endfor %}
                <a class="p-5 justify-content-center" href="/viewposts">See All Posts</a>
            </div>

            <!-- Portfolio Section (on the right) -->
            <div class="col-12 col-md-4 col-lg-3 ">
                {% for job in portfolio %}
                <div class="card job-card">
                    <div class="post">
                        <h4 class="job-info">{{ job.company }}</h4>
                        <p class="job-info">Role: {{ job.company_role }}</p>
                        <p class="job-info">Salary: {{ job.pay }}</p>
                    </div>
                </div>
                {% endfor %}
                
                <a class="p-5 justify-content-center" href="/viewjobs">See All Jobs</a>
            </div>
        </div>
    </div>

    <div class="credits d-flex justify-content-between">
        <div class="d-flex col-md-4 mb-3 mb-md-0">
            <img src="../static/logo.png" alt="YourFuture">
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-start">
            <div class="d-flex fs-6">
                <a href="/credits" class="text-black me-5">Credits</a>
                <div class="me-5">YourFuture 2025</div>
                <div class="me-5">YourFuture@socialmedia.com</div>
                <div class="me-5">YourFuture@example.com</div>
            </div>
        </div>
    </div>
</div>




{% endblock %}
