{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<div class = "custom-welcome">
    <h1>Welcome to YourFuture {{ name }}!</h1>
<div>
<div class = "logo">
    <img src = "../static/logo.png" alt = "YourFuture">
</div>
<div class = "future">
    <h3> Welcome to YourFuture! Your bridge to exciting career opportunities starts here. Whether you're a student looking for your first internship, part-time work, or full-time job, YourFuture connects you with employers who are eager to hire students like you. Build your professional network, discover 
        job openings tailored to your skills and interests, and take the next step in your career journey with confidence.
        Let's help you turn your potential into success!
    </h3>
</div>
<div class = "card card-transparent">
    <div class = "card-header">
        <h2>Connection<h2>
    </div>
    <div class = "card-body">
        We connect students to employers and more importantly to their future.
    </div>
</div>
<div class = "images">
    <img src = "..\static\handshake-removebg-preview.png" alt = "connection">
</div>
<div class = "card card-transparent">
    <div class = "card-header">
        <h2>Opportunity<h2>
    </div>
    <div class = "card-body">
        We give student the opportunites they need to grow and evolve.
    </div>
</div>
<div class = "images">
    <img src = "..\static\growth-removebg-preview.png" alt = "oppurtunity">
</div>
<div class = "card card-transparent">
    <div class = "card-header">
        <h2>Learning<h2>
    </div>
    <div class = "card-body">
        We provide invaluable knowledge to students about what their future can be, teaching them life skills to conquer their goals.
    </div>
</div>
<div class = "images">
    <img src = "..\static\book-removebg-preview.png" alt = "learning">
</div>


        

<div class = "credits">
    <a href="/credits">Credits</a>
    </a>

{% endblock %}
