{% extends "layout.html" %}
{% block title %}
student_profile
{% endblock %}
{% block main %}

<img class="profile-img" src="../static/allan-cole-N6-52vtceNA-unsplash.jpg">
<div class="header-profile">
    {% if profile['name'] %}
        <h2>{{ profile['name'] }}</h2>
    {% else %}
        <h2>Student Profile</h2>
    {% endif %}
</div>


<div class="col-lg-8 form-container rounded-0">
    <form method="POST" action="/profile">
        <label for="name" class="fs-6">Full Name</label>
        <input type="text" name="name" class="form-control rounded-0" value="{{ profile['name'] }}" required>
    
        <label for="email" class="fs-6">Email Address</label>
        <input type="email" name="email" class="form-control rounded-0" value="{{ profile['email'] }}" required>
    
        <label for="bio" class="fs-3 mt-5">Bio</label>
        <textarea name="bio" class="form-control mb-5 rounded-0" rows="4">{{ profile['bio'] }}</textarea>
</div>
<div class="col-lg-8 form-container rounded-0" >
        <h4 class='fs-3 mt-4'>Skills</h4>
        <div class="rounded-0">
            
            <div id="skills-list">
                {% if profile['skills'] %}
                    {% for skill in profile['skills'].split(',') %}
                        <div class="skill-item m-3 text-black">{{ skill }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <button type="button" class="btn btn-primary  mb-1 mx-3" data-bs-toggle="modal" data-bs-target="#addSkillModal">Add Skill</button>
        </div>
</div>
<div class = "col-lg-8 form-container rounded-0">
        <h4 class="fs-3 mt-4">Additional Information</h4>
        <div class="rounded-0">
            <div id="additional-info-list">
                {% if profile['info'] %}
                    {% for info_item in profile['info'].split(',') %}
                        <div class="info-item m-3 text-black">{{ info_item }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <button type="button" class="btn btn-primary  mb-1 mx-3" data-bs-toggle="modal" data-bs-target="#addInfoModal">Add Additional Info</button>
        </div>
    
</div>
<div class = "mx-5 my-4">
    <button type="submit" class="btn btn-success m-5  w-50" >Update Profile</button>
</div>
</form>
    
    <!-- Modal for adding skill -->
    <div class="modal fade" id="addSkillModal" tabindex="-1" role="dialog" aria-labelledby="addSkillModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addSkillModalLabel">Add New Skill</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/add-skill">
                        <div class="form-group">
                            <label for="new_skill">Skill</label>
                            <input type="text" name="new_skill" class="form-control" placeholder="Enter new skill" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Skill</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal for adding additional info -->
    <div class="modal fade" id="addInfoModal" tabindex="-1" role="dialog" aria-labelledby="addInfoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addInfoModalLabel">Add Additional Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/add-info">
                        <div class="form-group">
                            <label for="new_additional_info">Additional Information</label>
                            <input type="text" name="new_additional_info" class="form-control" placeholder="Enter additional information" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Info</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class = "interest" class="m-5 rounded-0">
        <div class="custom-welcome rounded-0">
            <h2>These are your current applications:</h2>
        <div>
            {% if portfolio %}
                    <div class="row justify-content-center rounded-0">
                        {% for job in portfolio %}
                            <div class="col-md justify-content-center">
                                <div class="card  mx-5 rounded-0 w-75" style = "margin:5px;">
                                    <div class="card-header bg-dark text-white rounded-0">
                                        <h2 class="text-start">{{ job.company }}</h2>
                                    </div>
                                        <div class="job text-start text-light">
                                            <p>Role: {{ job.role }}</p>
                                        
                                        </div>
                                    
                                </div>
                            </div>
                        {% endfor %}
                        <a class = "mt-3 align-items-center fs-3 text-black" href = "/pinnedjobs">See More</a>
                    </div>
            {% else %}
            <div class="fs-3"> You don't have any right now  </div>
            <a class="fs-4 text-black" href="/viewjobs">View Jobs</a>
            {% endif %}
            
        </form>
    </div>
    
{% endblock %}