{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

<div class="register">  
    <div class="row justify-content-center">
        <div class="registerImage">
            <img src="../static/Invested in.png" alt="YourFuture">
        </div>
        <div class="col-md-6">
            <div class="card-register">
                <div class="card-header">
                    <img src="../static/logo.png" alt="YourFuture Logo" class="text-center logo">
                    <h2 class="text-center">Register</h2>
                </div>
                <div class="card-body">
                    <form method="POST" autocomplete="off">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control rounded-0 h-auto bg-dark text-white border border-secondary" id="name" name="name" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" class="form-control rounded-0 h-auto bg-dark text-white border border-secondary" id="email" name="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control rounded-0 h-auto bg-dark text-white border border-secondary" id="password" name="password" required>
                        </div>
                        <div class="mb-3">
                            <label for="confirmation" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control rounded-0 h-auto bg-dark text-white border border-secondary" id="confirmation" name="confirmation" required>
                        </div>
                        <div class="mb-3">
                            <label for="role" class="form-label">Role</label>
                            <select class="form-select rounded-0 h-auto bg-dark text-white border border-secondary" name="role" required>
                                <option value="student">Student</option>
                                <option value="employer">Employer</option>
                            </select>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </form>
                    <p class="text-center mt-3">
                        Already have an account? <a href="{{ url_for('auth.login') }}">Login here</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}
